.conatct-form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
}

.conatct-form__aside {
    flex-basis: 20%;
    margin-left: 2%;
    height: 90%;
    background-image: url('../../../Assetss/Images/IMG_2942_800x533.jpg');
    background-position-x: center;
    background-position-y: -30px;
    background-size: cover;
    filter: grayscale();
    background-repeat: no-repeat;
}

.conatct-form__inputs-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5% 0;
}

.contact-form__btn-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.contact-form__btn {
    width: 40%;
}

.btn-danger {
    border-color: rgb(235, 84, 84);
    color: rgb(235, 84, 84);
}

.btn-danger:hover {
    border-color: rgb(235, 84, 84);
    color: #fff;
    background-color: rgb(235, 84, 84);
}

.conatct-form__btn {
    padding: 3% 0;
}

.contact-form__btn:disabled {
    width: 20%;
    color: grey;
    border-color: grey;
}

.contact-form__btn:disabled:hover {
    background-color: #fff;
    cursor: auto;
}

@media(orientation:landscape) {
    .conatct-form {
        flex-direction: row;
        padding-top: 5%;
    }
    .conatct-form__aside {
        background-image: url('../../../Assetss/Images/IMG_2245_1_400x600.jpg');
        background-position-x: -40px;
        background-position-y: center;
    }
    .contact-form__btn-div {
        width: 70%;
    }
    .conatct-form__btn {
        padding: 2% 0;
    }
}

@media(min-width:1024px) {
    .conatct-form {
        padding-top: 3%;
    }
    .contact-form__btn-div {
        width: 70%;
    }
    .conatct-form__btn {
        padding: 1% 0;
    }
}