.nav {
    height: 100%;
}

.aside-menu {
    flex-basis: 55%;
    margin: 0 0px 0 -55%;
    transition: .3s;
    background-color: #fff;
    z-index: 100;
}

.aside-menu--active {
    box-shadow: 3px 1px 20px rgb(43, 41, 41);
    margin: 0;
}

@media(orientation:landscape) {
    .aside-menu {
        flex-basis: 45%;
        margin: 0 0px 0 -45%;
    }
    .aside-menu--active {
        margin: 0;
    }
}

@media(min-width:1024px) {
    .aside-menu {
        flex-basis: 30%;
        margin: 0 0 0 -30%;
    }
    .aside-menu--active {
        margin: 0;
    }
}