.three-steps {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
}

@media(orientation:landscape) {
    .three-steps {
        margin-top: 15vh;
        flex-direction: row;
    }
}