* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #3368FA;
  --minor-color: #2AC503;
  --heading-color: #0A2342;
  --main-font: 'Poppins', sans-serif;
  --bgc: linear-gradient(45deg, #fafffa, #eff0f0);
}

/* .main {
  position: relative;
  overflow: hidden;
} */