.sliding-carousel-banner__image-wrapper {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.sliding-carousel-banner__cards {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sliding-carousel-banner__card {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    width: 60%;
    height: 60%;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.sliding-carousel-banner__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center 80%;
}

.sliding-carousel-banner__be-img-0 {
    filter: grayscale(50%);
}

.sliding-carousel-banner__be-img-2 {
    filter: grayscale(50%);
    object-position: top;
}

.sliding-carousel-banner__card-background--left {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: -1;
}

.sliding-carousel-banner__card-background--right {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: -1;
}

.sliding-carousel-banner__card--front {
    width: 85%;
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 10;
}

.sliding-carousel-banner__innerDiv {
    transform: scale(0);
    ;
}

.sliding-carousel-banner__card--front .sliding-carousel-banner__innerDiv {
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, 0) scale(1);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 95%;
    height: 40%;
    background-color: rgba(219, 218, 218, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: var(--main-font);
}

.sliding-carousel-banner__innerHeading {
    width: 100%;
    color: #fff;
    background-color: var(--minor-color);
    font-size: .8rem;
    font-family: var(--main-font);
    letter-spacing: 3px;
    padding: .5% 0;
}

.sliding-carousel-banner__innerSpan {
    font-family: var(--main-font);
    font-size: .7rem;
    padding: 0 1%;
}

@media(orientation:landscape) {
    .sliding-carousel-banner__card {
        height: 90%;
    }
    .sliding-carousel-banner__card--front {
        width: 70%;
    }
}

@media(min-width: 1024px) {
    .sliding-carousel-banner__card {
        top: auto;
        height: 65%;
    }
    .sliding-carousel-banner__card--front .sliding-carousel-banner__innerDiv {
        width: 80%;
        height: 40%;
        bottom: -20%;
    }
    .sliding-carousel-banner__card {
        height: 60%;
    }
    .sliding-carousel-banner__innerHeading {
        font-size: 1.15rem;
    }
    .sliding-carousel-banner__innerSpan {
        font-size: .9rem;
    }
}