.contact-form__input-div {
    margin-bottom: 2%;
    width: 85%;
}

.conatct-form__input, .conatct-form__textarea {
    width: 100%;
    padding: 1%;
    border: none;
    border-bottom: 1px solid black;
}

.conatct-form__textarea {
    border: 1px solid black;
}

.contact-form__input-error {
    border-bottom: 2px solid rgb(235, 84, 84);
}

.contact-form__message-error {
    color: rgb(235, 84, 84);
    font-size: .8rem;
    margin: 5px 0 0 5px;
}

@media(orientation:landscape) {
    .contact-form__input-div {
        width: 75%;
    }
}