.three-steps-steps {
    flex-basis: 65%;
    display: flex;
}

.three-steps-steps__next:last-child {
    display: none;
}

.three-steps-steps__next {
    font-size: 2rem;
    color: #4E6077;
    font-weight: 100;
    transform: translateY(15%);
}

@media(min-width:1024px) {
    .three-steps-steps {
        flex-basis: 55%;
        padding: 0 2% 2% 10%;
    }
    .three-steps-steps__next {
        font-size: 3rem;
        /* transform: translateY(22.5%); */
    }
}