.three-steps-steps {
    flex-basis: 55%;
    display: flex;
}

.three-steps-steps__next:last-child {
    display: none;
}

.three-steps-steps__next {
    font-size: 2rem;
    /* color: #4E6077; */
    color: #000;
    font-weight: 100;
    transform: translateY(22.5%);
}

@media(orientation:landscape) {
    .three-steps-steps {
        padding: 0 0% 0 5%;
    }
    .three-steps-steps__next {
        transform: translateY(20%);
    }
}

@media(min-width:1024px) {
    .three-steps-steps {
        padding: 0 2% 0 10%;
    }
    .three-steps-steps__next {
        font-size: 3rem;
        transform: translateY(22.5%);
    }
}